<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="openSidenav()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span routerLink="/" class="logo logo-small">HelpPet</span>
  <span class="spacer"></span>
  <span class="example-spacer"></span>

  <div class="buttons-session-active" *ngIf="isLogin">
    <button mat-button color="primary" (click)="goPets()" class="home-btn">
      Inicio
    </button>

    <button
      mat-button
      color="primary"
      (click)="myProfile()"
      class="profile-btn"
    >
      Mi Perfil
    </button>

    <button mat-flat-button color="primary" (click)="signOut()">
      Cerrar sesión
    </button>
  </div>

  <div class="buttons-session-inactive" *ngIf="!isLogin">
    <button mat-stroked-button color="primary" routerLink="/auth/login">
      Iniciar Sesión
    </button>

    <button
      mat-flat-button
      color="primary"
      routerLink="/auth/signup"
      class="signup"
    >
      Crear una cuenta
    </button>
  </div>
</mat-toolbar>
