<div class="container">
  <!-- Info and button -->
  <div class="info">
    <span class="logo">Help<span>Pet</span> </span>
    <p>
      Bienvenido a HelpPet, donde podrás hacer realidad tu sueño de adoptar una
      mascota y también podrás hacer realidad el sueño de ella de poder tener
      una familia y un hogar.
    </p>
    <button mat-flat-button color="primary" (click)="goHome()">Entrar</button>
  </div>

  <!-- Landing page img -->
  <div class="landing-img">
    <img
      src="../../assets/home.png"
      alt="Help-pet home image"
      class="home-img"
    />
  </div>
</div>
